.apresetacao {
    padding: 195px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.apresetacao-container {
    display: flex;
}

.apresentacao-item {
    display: flex;
    justify-content: space-between;
}

.apresetacao h1 {
    color: var(--cor-dos-titulos);    
}

.apresetacao p {
    color: var(--cores-dos-p-h2);
}

.foto-perfil {
    width: 290px;
    border-radius: 700px;
}


