.apresetacao {
    background-color: aliceblue;
    padding: 195px;
    display: flex;
    justify-content: space-between;
}

.apresetacao h1 {
    color: var(--cor-dos-titulos);
}

.apresetacao p {
    color: var(--cores-dos-p-h2);
}

.foto-perfil {
    width: 400px;
    border-radius: 700px;
}