.cabecalho {
    background: var(--cor-de-fundo);
    width: 100%;
	position: fixed;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}
.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--cores-dos-p-h2);
}

.menu li {
    margin: left 20px;
}

.menu li a {
    display: block;
    padding: 20px;
}


.logo {
    max-width: 150px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.rodape {
    color: var(--cores-dos-p-h2);
    padding: 30px;
    text-align: center;
}