.skills {
    width: 100%;
	padding: 50px;
    background: #eee;
}

.skills-container {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	padding: 15px;
}

.img-item {
    width: 40%;
}