:root {
    --cor-fundo: black;
    --cor-fundo2: #191919;
    --cor-titulos: #2EDFF2;
    --cor-span: #f9004d;
    --cores-p-h2: #D0EFF2;
    --fundo-formulario: #242424;
    --cor-text-fundo-preto: white;
    --overlay: #000000b8;
    --cor-title-projeto: #ffffff;

    --Roboto: 'Roboto', sans-serif;
}