:root {
    --cor-fundo: black;
    --cor-fundo2: #191919;
    --cor-titulos: #2EDFF2;
    --cor-span: #f9004d;
    --cores-p-h2: #D0EFF2;
    --cor-text-fundo-branco: #01080D;
    --cor-text-fundo-preto: white;

    --Roboto: 'Roboto', sans-serif;
}