* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Nunito', sans-serif;
}

.caixa-principal {
    background: var(--cor-fundo);
    height: 60vh;
    width: 100%;
    color: var(--cor-text-fundo-preto);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.portfolio {
    color: var(--cor-titulos);
    font-size: 35px;
}

.portfolio span {
    color: var(--cor-span);
}

ul {
    display: inline-block;
}

li {
   display: inline-block;
   list-style: none;
   font-size: 25px;
   margin-right: 20px;
   cursor: pointer;
}

li span {
    color: var(--cor-span);
}

li:hover {
    color: var(--cor-titulos);
    transition: 0,5s;
}

.apresentacao {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--cor-fundo);
}

h1 {
    color: var(--cor-titulos);
    font-size: 45px;
}

h1 span {
    color: var(--cor-span);
}

h3 {
    color: white;
}


section {
    display: flex;
    align-items: center;
    padding: 60px 15%;
    background-color: var(--cor-fundo2);
    justify-content: ;
}

section img {
    height: 400px;
    margin-right: 30px;

}

section div h2 {
    color: var(--cor-titulos);
    font-size: 75px;
}

section div p {
    color: var(--cores-p-h2);
    margin-top: 15px;
    margin-bottom: 60px;
}

section div button {
    color: var(--cores-p-h2);
    background: var(--cor-span);
    height: 50px;
    width: 180px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

section div button:hover {
    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-span);
    transition: 0.5s;
}

.skills {
    width: 100%;
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;  
}

.skills h2 {
    color: var(--cor-titulos);
    font-size: 55px;
    text-align: center;
}

.card-skills {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.card {
    background-color: var(--cor-fundo2);
    height: 185px;
    width: 285px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.card img {
    height: 100px;
}

.card p {
    color: var(--cor-titulos);
    text-align: center;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

.hobbies {
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;  
}

.hobbies h2 {
    color: var(--cor-titulos);
    font-size: 55px;
    text-align: center;
}

.card-hobbies {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.card--hobbies {
    background-color: var(--cor-fundo2);
    height: 185px;
    width: 285px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.card--hobbies img {
    height: 100px;
}

.card--hobbies p {
    color: var(--cor-titulos);
    text-align: center;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

.formacao {
    width: 100%;
    background-color: var(--cor-fundo2);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;  
}

.formacao h2 {
    color: var(--cor-titulos);
    font-size: 55px;
    text-align: center;
}

.card-formacao {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.formacao-container {
    background-color: var(--cor-fundo);
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.formacao-container h4 {
    color: var(--cor-text-fundo-preto);
}

.formacao-container img {
    height: 100px;
}

.formacao-container p {
    color: var(--cor-titulos);
    text-align: center;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
}






.footer {
    background: var(--cor-fundo);
    align-items: center;
    text-align: center;
    color: var(--cor-text-fundo-preto);
    font-size: 18px;
    padding: 20px;
}

.footer span {
    color: var(--cor-span);
}

