.cabecalho {
    align-items: center;
    background: var(--cor-de-fundo);
    display: flex;
    justify-content: space-between;
    color: var(--cores-dos-p-h2);
}

@media screen and (min-width: 0) {
    .cabecalho {
        padding: 0 1rem;
        justify-content: center;
    }
}
@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 0 5rem;
        justify-content: space-between;
    }
}
