.cabecalho {
	width: 100%;
	position: fixed;
	background: var(--cor-fundo);
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
    color: var(--cor-titulos);
}

@media screen and (min-width: 0) {
    .cabecalho {
        padding: 0 1rem;
        justify-content: center;
    }
}
@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 0 5rem;
        justify-content: space-between;
    }
}