.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
	flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    letter-spacing: 2px;
    color: var(--cor-dos-titulos);
}