/* Escopo Global */
:root {
    --cor-de-fundo: #01080D;
    --cor-dos-titulos: #2EDFF2;
    --cores-dos-p-h2: #D0EFF2;
    --cor-texto-no-fundo-branco: #01080D;

    --roboto: 'Roboto Condensed', sans-serif;
}